# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.KartRacing.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\kgr_seminarksi\KartRacing_forkRepo\KartRacing\.idea\.idea.KartRacing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
